/*
.main header ~ p:first-of-type::first-line {
  font-variant: small-caps;
  letter-spacing: .05em;
  font-size: 105%;
  text-indent: 0em;
}
*/
/*
.main header ~ p:first-of-type::first-letter {
  font-size: 3em;
  padding: .1em .1em 0 0;
  float: left;
  line-height: 1em;
}
*/

/* indent but exclude 1st paragraph */
/*
.main header ~ p:nth-of-type(n+2) {
  text-indent: 1em;
}
*/
